<%= form_for(@pdf_form) do |f| %>
  <% if @pdf_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pdf_form.errors.count, "error") %> prohibited this pdf_form from being saved:</h2>

      <ul>
      <% @pdf_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
