<p id="notice"><%= notice %></p>

<h1>Listing Pdf Forms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pdf_forms.each do |pdf_form| %>
      <tr>
        <td><%= link_to 'Show', pdf_form %></td>
        <td><%= link_to 'Edit', edit_pdf_form_path(pdf_form) %></td>
        <td><%= link_to 'Destroy', pdf_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pdf form', new_pdf_form_path %>
